.tokenForm {
    margin: 1em;
}
.tokenForm .form-row {
    margin-bottom: 0.5em;
}
.tokenForm .form-row span {
    width: 10em;
    display: inline-block;
}

.tokenTestOutput {
    white-space: pre;
    font-family: consolas;
    border: 0.1em solid green;
    height: 200px;
    overflow: scroll;
    margin: 2em;
}
.tokenTestOutput.error {
    border: 0.1em solid red;
}