<script>
    let tokenStorageKey = "token";
    let baseUrl = "https://api.cardmarket.com/ws";
    let apiUrl = "v2.0/";
    let idGame = 1;
    let idLanguage = 1;

    let token = getStored(tokenStorageKey, {
        AppToken: '',
        AppSecret: '',
        AccessToken: '',
        AccessSecret: '',
        Url: baseUrl + '/' + apiUrl,
    });

    window.state = {
        ...window.state,
        token: token,
        tokenTestResponse: null,
        tokenTestResult: null,    
    };

    window.methods = {
        ...window.methods,
        saveToken: function () {
            localStorage.setItem(tokenStorageKey, JSON.stringify(this.token));
        },
        resetToken: function () {
            localStorage.removeItem(tokenStorageKey);
            window.location.reload();
        },
        testToken: async function () {
            var response = await this.get('account');
            this.tokenTestResult = !response.error;
            this.tokenTestResponse = JSON.stringify(response.error ? response.error : response.data.account, null, 2);
            return this.tokenTestResult;
        },
    };
</script>

<style>
    .tokenForm {
        margin: 1em;
    }
    .tokenForm .form-row {
        margin-bottom: 0.5em;
    }
    .tokenForm .form-row span {
        width: 10em;
        display: inline-block;
    }

    .tokenTestOutput {
        white-space: pre;
        font-family: consolas;
        border: 0.1em solid green;
        height: 200px;
        overflow: scroll;
        margin: 2em;
    }
    .tokenTestOutput.error {
        border: 0.1em solid red;
    }
</style>

<div class="tokenForm">
    <form onsubmit="event.preventDefault(); return false;">
        <div class="form-row">
            <label>
                <span>App Token</span>
                <input v-model="token.AppToken" placeholder="App Token">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>AppSecret</span>
                <input v-model="token.AppSecret" placeholder="AppSecret">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>AccessToken</span>
                <input v-model="token.AccessToken" placeholder="AccessToken">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>AccessSecret</span>
                <input v-model="token.AccessSecret" placeholder="AccessSecret">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Url</span>
                <input v-model="token.Url" placeholder="Url">
            </label>
        </div>

        <div class="form-row">
            <span></span>
            <button type="submit" v-on:click="saveToken">Save token</button>
            <button v-on:click="resetToken" style="margin-left: 5em">Reset</button>
        </div>

        <div class="form-row">
            <span></span>
            <button type="submit" v-on:click="testToken">Test</button>
        </div>

    </form>

    <div class="tokenTestOutput" v-if="tokenTestResult !== null"
        v-bind:class="{ error: tokenTestResult === false }">{{ tokenTestResponse }}</div>
    </div>
</div>