<link rel="stylesheet" href="./css/tabs.css">

<!--
<router-link to="/">Go to Root</router-link>
<router-link to="/foo">Go to Foo</router-link>
<router-link to="/bar">Go to Bar</router-link>
<div class="router">
    <router-view>
    </router-view>
</div>
-->

<div class="tabs">
    <button
        v-for="tab in tabs" 
        :key="tab.key"
        v-bind:class="{ active: active === tab.key}"
        v-on:click="setActive(tab.key)">
        {{ tab.title }}
    </button>
</div>

<div class="contents">
    <div v-if="active === 'token'" preload="./html/token-form.html"></div>
    <div v-if="active === 'stock'" preload="./html/stock.html"></div>
    <div v-if="active === 'products'" preload="./html/products.html"></div>
    <div v-if="active === 'import'" preload="./html/import.html"></div>
</div>