/*
 Common styles
*/

* {
    box-sizing: border-box;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    padding: 1em;
    border-radius: 0.1em;
    border: 0.1em solid #cccccc;
    background-color: white;
}

button {
    padding: 1em;
    border-radius: 0.1em;
    background-color: #cccccc;
    width: 10em;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

button[type=submit] {
    background-color: #ccffcc;
}


/*
    Loading screen
*/
.loader {
    background: white;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader.finished {
    display: none;
}
:root {
    --s-loader-wrapper-bg-color: rgb(21, 22, 43);
    --s-loader-width: 20vmin;
    --s-loader-height: var(--s-loader-width);
    --s-loader-border-color-trans: rgba(29, 161, 242, 0.2);
    --s-loader-border-color-full: rgb(29, 161, 242);
  }

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.spinner.small {
    width: 2em;
    height: 2em;
    margin: auto;
}
.spinner {
    width: var(--s-loader-width);
    height: var(--s-loader-height);
  
    border: 5px solid var(--s-loader-border-color-trans);
    border-left-color: var(--s-loader-border-color-full);
    border-radius: 50%;
    background: transparent;
  
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: relative;
}

@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
