<script type="module">
    import ParseCsv from '@{CD}/parse-deck/ParseCsv.js';
    import matchProduct from '@{CD}/product-matcher.js';
    import convertToStock from '@{CD}/convertToStock.js';

    let savedItems = getStored('savedItems', []);
    for (var item of savedItems.filter(x => x.status == 'lookup' || x.status == 'waiting' || x.status == 'ok')) {
        item.status = '';
    }
    
    window.state = {
        ...window.state,
        importText: '',
        parsedItem: [],
        savedItems: savedItems,
    };

    window.methods = {
        ...window.methods,
        parseData: function(data) {
            if (!data) {
                return [];
            }
            let val = ParseCsv(data);
            console.log('parsed', JSON.stringify(val, null, 2));
            return val;
        },
        importNew: function(items) {
            for (var item of items) {
                this.savedItems.push(item);   
            }
            this.save();
        },
        clearUnimported: function(items) {
            this.savedItems = [];
            this.save();
        },
        clearIds: function() {
            for (var item of this.savedItems) {
                item.id = undefined;
            }
            this.save();
        },
        lookupMissingItems: function () {
            for (var item of this.savedItems.filter(x => !x.id)) {
                item.status = 'waiting'
            }

            for (var i = 0; i < 5; i++) {
                this.lookupItem();
            }
        },
        lookupItem: async function () {
            let item = this.savedItems.filter(x => x.status === 'waiting')[0];
            if (!item) {
                return;
            }

            item.status = 'lookup';
            let meta = await this.searchMeta(item.name);
            var match = matchProduct(item, meta);
            item.status = match.status;
            item.errors = match.errors;
            item.warnings = match.warnings;
            item.id = match.id;
            if (match.setName) {
                item.oldSetName = item.setName;
                item.setName = match.setName;
                item.altSet = match.altSet;
            }
            if (match.name) {
                item.oldName = item.name;
                item.name = match.name;
                item.altName = match.altName;
            }

            this.save();
            this.lookupItem();
        },
        resetStatus: function (item) {
            item.status = '';
            item.errors = [];
            item.warnings = [];
            this.save();
        },
        importToCardmarket: async function() {
            var items = this.savedItems.filter(x => x.id && x.errors.length == 0 && x.warnings.length == 0);
            if (!items.length) { return; }

            let ii = 0;
            let itemMap = {};
            for (var item of items) {
                item.importId = (ii++).toString();
                itemMap[item.importId] = item;
                items.status = 'lookup';
            }

            var stock = convertToStock(items);
            console.log('stock', JSON.stringify(stock, null, 2));
            var result = await this.post('stock', stock);
            console.log('result', JSON.stringify(result, null, 2));
            var inserted = result?.data?.inserted || [];
            var i = 0;
            for (var item of inserted) {
                if (item.success) {
                    let iid = item.idArticle.comments.match(/\[(\d+)\]/)[1];
                    itemMap[iid].inserted = true;
                }
                else {
                    let iid = item.tried.comments.match(/\[(\d+)\]/)[1];
                    itemMap[iid].status = 'error';
                    itemMap[iid].errors.push({ key: 'stock', value: item.error });
                }
                i++;
            }

            this.savedItems = this.savedItems.filter(x => !x.inserted);
            this.save();
        },
        lookupProduct: async function (id) {
            let data = (await this.get('products/' + id))?.data?.product;
            console.log(JSON.stringify(data));
        },
        getPrices: async function() {
            //var result = await this.get('games/1/expansions');
            //var list = result.data.expansion.map(x => ({ id: x.idExpansion, name: x.enName }));
            let expansions = new Map();
            for (let item of this.stock) {
                expansions.set(item.product.expIcon, 'ok');
            }
            let expIds = Array.from(expansions.keys());
            let res = await this.get('expansions/' + expIds[0] + '/singles');
            console.log(res);
        }
    };
</script>

<div class="import">
    <div>
        <h1>Import</h1>
        <div>
            <textarea v-on:change="parsedItem = parseData(importText)" v-model="importText" placeholder="Paste exported data here"></textarea>
        </div>
    </div>

    <div>
        <h1>Parsed data</h1>
            <div class="scroll">
            <table class="border-table" v-if="parsedItem">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>SET</th>
                        <th>CONDITION</th>
                        <th>LANG</th>
                        <th>FOIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in parsedItem"  :key="item.uuid">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.setName }}</td>
                        <td>{{ item.condition }}</td>
                        <td>{{ item.lang }}</td>
                        <td>{{ item.foil ? "X" : "" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button v-on:click="importNew(parsedItem); importText = ''; parsedItem = [];">Save to Unimported</button>
<button v-on:click="lookupMissingItems()">Match w Cardmarket</button>
<button v-on:click="importToCardmarket()">Import to Cardmarket</button>

<button v-on:click="clearIds()">Clear ID</button>
<button v-on:click="clearUnimported()">Clear Unimported</button>

<h1>Unimported stock</h1>
<table class="border-table" v-if="savedItems">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SET</th>
        <th>CONDITION</th>
        <th>LANG</th>
        <th>FOIL</th>
        <th>STATUS</th>
        <th>WARNINGS</th>
        <th>ERRORS</th>
        <th>LOG</th>
    </tr>

    <tr v-for="item in savedItems"  :key="item.uuid">
        <td>{{ item.id }}</td>
        <td>
            <span v-if="(item?.oldName?.length || 0) > 0" v-bind:class="{ strike: (item?.oldName?.length || 0) > 0 }">{{item.oldName}}<br /></span>
            <input v-model="item.name">
        </td>
        <td>
            <span v-if="(item?.oldSetName?.length || 0) > 0" v-bind:class="{ strike: (item?.oldSetName?.length || 0) > 0 }">{{item.oldSetName}}</span>
            <select v-if="item.altSet" v-model="item.setName">
                <option>{{item.setName}}</option>
                <option v-if="item.oldSetName">{{item.oldSetName}}</option>
                <option v-for="opt in item.altSet">{{opt}}</option>
            </select>
        </td>
        <td>
            <select v-model="item.condition">
                <option value="MT">Mint</option>
                <option value="NM">Near Mint</option>
                <option value="EX">Excellent</option>
                <option value="GD">Good</option>
                <option value="LP">Light Played</option>
                <option value="PL">Played</option>
                <option value="PO">Poor</option>
            </select>
        </td>
        <td>{{ item.lang }}</td>
        <td>
            <select v-if="item.altSet" v-model="item.foil">
                <option v-bind:value="true">Yes</option>
                <option v-bind:value="false">No</option>
            </select>
        </td>
        <td>
            <div v-if='item.status == "lookup"' class='spinner xsmall'></div>
            <span v-if='item.status !== "lookup"'>
                <button v-on:click="resetStatus(item)">{{ item.status }}</button>
            </span>
        </td>
        <td>
            {{ item.warnings.map(x => x.key + ': ' + x.value).join(', ') }}
        </td>
        <td>
            {{ item.errors.map(x => x.key + ': ' + x.value).join(', ') }}
        </td>
        <td><button v-if="item.id" v-on:click="lookupProduct(item.id)">Lookup</button></td>
    </tr>
</table>
